.font-accent {
  font-family: var(--font-family-accent);
}

.color-base {
  color: var(--color-base);
}
.color-accent-1 {
  color: var(--color-accent-1);
}
.color-muted-1 {
  color: var(--color-muted-1);
}
.color-muted-2 {
  color: var(--color-muted-2);
}
.color-muted-3 {
  color: var(--color-muted-3);
}

.grid-auto-rows {
  grid-auto-rows: 1fr;
}