$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1528px
);

$spacers: (
  grid: var(--grid-gutter-width),
  0: 0px,
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px,
  35: 35px,
  40: 40px,
  45: 45px,
  50: 50px,
  55: 55px,
  60: 60px,
  80: 80px,
  130: 130px
);

$grid-gutter-width: var(--grid-gutter-width);
$container-padding-x: var(--container-padding-x);
$card-group-margin: $grid-gutter-width;

@import "~@/../node_modules/bootstrap/scss/functions";
@import "~@/../node_modules/bootstrap/scss/variables";
@import "~@/../node_modules/bootstrap/scss/mixins/breakpoints";
@import "~@/../node_modules/bootstrap/scss/mixins/container";
@import "~@/../node_modules/bootstrap/scss/mixins/grid";
@import "~@/../node_modules/bootstrap/scss/mixins/utilities";
@import "~@/../node_modules/bootstrap/scss/vendor/rfs";
@import "~@/../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "image-size": (
      property: width,
      class: image-size,
      responsive: true,
      values: (
        normal: 100%,
        side: calc(100% + var(--content-fields-width)),
        wide: calc(100% + var(--content-fields-width) * 2)
      )
    ),
    "image-align": (
      property: margin-left,
      class: image-align,
      responsive: true,
      values: (
        normal: 0,
        screen: calc(var(--content-fields-width) * -1),
      )
    ),
    "column-gap": (
      property: column-gap,
      class: column-gap,
      responsive: true,
      values: $spacers
    ),
    "row-gap": (
      property: row-gap,
      class: row-gap,
      responsive: true,
      values: $spacers
    ),
    "grid-columns": (
      property: grid-template-columns,
      class: grid-columns,
      responsive: true,
      values: (
        1: repeat(1, 1fr),
        2: repeat(2, 1fr),
        3: repeat(3, 1fr),
        4: repeat(4, 1fr),
        5: repeat(5, 1fr),
        6: repeat(6, 1fr)
      )
    ),
    "grid-rows": (
      property: grid-auto-rows,
      class: grid-rows,
      responsive: true,
      values: (
        same: 1fr,
        auto: auto
      )
    ),
    "width": map-merge(
      map-get($utilities, "width"),
      ( responsive: true )
    ),
    "text-align": map-merge(
      map-get($utilities, "text-align"),
      ( responsive: true )
    )
  )
);

$utilities: map-get-multiple($utilities, ("display", "order", "flex", "flex-shrink", "flex-direction", "flex-wrap", "justify-content", "align-items", "margin-top", "margin-bottom", "margin-start", "margin-end", "padding-top", "padding-bottom", "padding-start", "padding-end", "font-weight", "text-align", "gap", "width", "column-gap", "row-gap", "grid-columns", "image-size", "image-align", "grid-rows"));
