:root {
  --color-base: #D7D7D7;
  --color-accent: #F8F8F8;

  --color-muted-1: #AAAAAA;
  --color-muted-2: #8C8C8C;
  --color-muted-3: #6F6F6F;
  --color-muted-4: #4E4F54;

  --color-link: #53B0F3;



  --color-content-image-bg: rgba(255, 255, 255, 0.05); 
  
  --color-base-background: #0F0F0F;
}